<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bloody Weather</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </head>
  <body>
      <h1 id ="header">How <img src="/img/flag.svg" alt="British" height="42" width="96"> is the Weather?</h1>
      <h3 id ="subheader">Go ahead, my ol mucka type in your zip and see the weather!</h3>
    <div class="content">
      <fieldset>
        
        <form action="/" method="post">
          <input name="zip" id="zipCode" type="text" class="form-control form-control-lg" placeholder="Enter your zip" required autocomplete="off"> </input>
          <input id="weatherclick" type="submit" class="form-control form-control-lg" value="Have A Butcher’s"></input>
        </form>
      </fieldset>
    </div>
    <footer class="footer">
    <div class="container text-center">
        <a href="https://jamesperkins.io">Made by James for fun!</a>
      <a href="https://www.twitter.com/james_r_perkins"><i class="fa fa-twitter"></i></a>
      <a href="https://www.github.com/perkinsjr"><i class="fa fa-github"></i></a>
      <a href="https://www.patreon.com/james_perkins">Donate over at Patreon</a>
    </div>
  </footer>
  </body>
</html>